import(parallel)
importFrom("stats", "median", "sd")
importFrom("stats", "quantile", "quasi")
importFrom("doSNOW", "registerDoSNOW")
importFrom("foreach", "foreach")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
exportPattern("^[[:alpha:]]+")
S3method(boxplot, cvsamples)
